@import url('https://fonts.google.com/specimen/Poppins');

:root {
    font-family: Poppins;
    font-family: Poppins !important;
}

.color-primary{
    background-color: #274F73;
}

.text-color{
    color: #5f687b;
}

/* span color */
.logo-bro{
    color: #FF5E5E;
}

/* font size */
.logo-size{
    font-size: 50px;
}

/* jumbotron */
.jumbotron{
    padding: 2rem 1rem;
    /* background-color: #274F73; */
}

/* download */
.bg-download{
    background-color: #FF5E5E;
}

.icon-download{
    margin-top: 20px;
}

.parent-deskripsi {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 250px 1fr;
    background: #274F73;
    width: 70vw;
    margin: 13vw 14vw;
    height: 250px;
    border-radius: 10px;
    align-items: center; /* mengatur parent secara vertikal ke tengah */
    justify-content: center; /* mengatur parent secara horizontal ke tengah */
  }

  .child-gambar {
    grid-area: 1 / 1 / 1 / 1;
    /* opacity: 0.8; */
    /* height: 600px; */
    /* background-color: #FF5E5E ; */
    /* width: 350px; */
  }

  /* font jumbotron */
  .font-jumbotron {
    font-size: 70px;
  }

  /* About */
  .about .content h3 {
    font-weight: 700;
    font-size: 37px;
    color: #5f687b;
  }

  .about .content ul {
    list-style: none;
    padding: 0;
  }

  .about .content ul li {
    padding-bottom: 10px;
  }

  .about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #16df7e;
  }

  .about .content p:last-child {
    margin-bottom: 0;
  }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), center center no-repeat; */
    background-color: #274F73;
    background-size: cover;
  }

  #hero .container,
  #hero .container-fluid {
    padding-top: 84px;
  }

  #hero h1 {
    margin: 0;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
  }

  #hero h2 {
    color: rgba(255, 255, 255, 0.8);
    margin: 10px 0 0 0;
    font-size: 20px;
  }

  #hero .btn-download-now {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    border: 2px solid #fff;
  }

  #hero .btn-download-now:hover {
    background: #fff;
    color: #5846f9;
  }

  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  @media (min-width: 1200px) {
    #hero {
      background-attachment: fixed;
    }
  }

  @media (max-width: 991px) {
    #hero {
      text-align: center;
    }

    #hero .container,
    #hero .container-fluid {
      padding-top: 68px;
    }

    #hero .animated {
      animation: none;
    }

    #hero .hero-img {
      text-align: center;
    }

    #hero .hero-img img {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    #hero h1 {
      font-size: 26px;
      line-height: 36px;
    }

    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }

    #hero .hero-img img {
      width: 60%;
    }
  }

  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
  }

  @media (max-width: 575px),
  (max-height: 600px) {
    #hero {
      height: auto;
    }
  }

  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(-10px);
    }
  }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5f687b;
    position: relative;
    z-index: 2;
  }

  .section-title span {
    position: absolute;
    top: 30px;
    color: #f0f1f3;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
  }

  .section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }

  @media (max-width: 575px) {
    .section-title h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }

    .section-title span {
      font-size: 38px;
    }
  }

.services .icon-box {
    text-align: center;
    border: 1px solid #fff;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
  }

  .services .icon-box .icon {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
  }

  .services .icon-box .icon i {
    color: #16df7e;
    font-size: 36px;
    transition: 0.3s;
  }

  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }

  .services .icon-box h4 a {
    color: #5f687b;
    transition: ease-in-out 0.3s;
  }

  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }

  .services .icon-box:hover {
    border-color: #eaecef;
  }

  .services .icon-box:hover h4 a {
    color: #16df7e;
  }

/*--------------------------------------------------------------
# Download Section
--------------------------------------------------------------*/
#download {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 140px 0 100px 0;
    background-color: #274F73;
  }

  #download::before {
    content: "";
    position: absolute;
    right: -100%;
    top: 20%;
    width: 250%;
    height: 200%;
    z-index: -1;
    background-color: #274F73;
    /* transform: skewY(130deg); */
  }

  #download h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
  }

  #download h2 {
    color: #ffffff;
    margin-bottom: 50px;
    font-size: 20px;
  }

  #download .download-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    padding: 8px 24px 10px 46px;
    border-radius: 3px;
    transition: 0.5s;
    color: #282828;
    background: #f1f1f1;
    position: relative;
    text-decoration: none;
  }

  #download .download-btn:hover {
    background: #5777ba;
  }

  #download .download-btn i {
    font-size: 20px;
    position: absolute;
    left: 18px;
    top: 8.5px;
  }

  #download .download-btn+.download-btn {
    margin-left: 20px;
  }

  @media (max-width: 991px) {
    #download {
      text-align: center;
    }

    #download .download-btn+.download-btn {
      margin: 0 10px;
    }

    #download .download-img {
      text-align: center;
    }

    #download .download-img img {
      width: 60%;
    }
  }

  @media (max-width: 768px) {
    #download h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #download h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

    #download .download-img img {
      width: 70%;
    }
  }

  @media (max-width: 575px) {
    #download .download-img img {
      width: 80%;
    }
  }

/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/

.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5f687b;
    position: relative;
    z-index: 2;
  }

  .section-title span {
    position: absolute;
    top: 30px;
    color: #f0f1f3;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
  }

  .section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }

  @media (max-width: 575px) {
    .section-title h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }

    .section-title span {
      font-size: 38px;
    }
  }

.testimonial .icon-box {
    text-align: center;
    border: 1px solid #fff;
    padding: 20px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
  }

  .testimonial .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
    color: #5f687b;
  }

  .testimonial .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }

  .testimonial .icon-box:hover {
    border-color: #1766dd;
  }

  .test-img{
    width: 6.2rem;
    border-radius: 5rem;
    margin: 1.3rem auto 1rem auto;
}

